@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	font-weight: 400;
	padding: 20px;
	border-bottom: 1px solid #eee;
	background-color: #f7f7f7;
	max-width: 100% !important;
}
.cursor {
	cursor: pointer;
}
.cursor:hover {
	font-weight: bold !important;
}
.api-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-weight: 200;
	/* font-size: small; */
	width: 80%;
	margin: 0 0 0 -3% ;
	border-right: 2px solid red;

}
.h3-heading {
	padding: 5px;
}
.authorLink {
	padding: 5%;
	font-weight: bold;
}
.imgs {
	border-radius: 20px;
	width: 100%;
	height:60%;
	margin: 0 auto;
	padding: 1px;
}

.data-news {
	width: 30%;
	border: 1px solid #eee;
	margin: 25px 10px 0;
	border-radius: 20px;
	padding: 3px;
	
	box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.content {
	width: 80%;
	padding: 15px;
	font-size: 18px;
}
.bttn {
	width: 40%;
	padding-left: 10%;
	padding-right: 10%;
	border-radius: 0.3em;
<<<<<<< HEAD
	font-family: 'Oswald', sans-serif;
	margin: 5% 0;

=======
>>>>>>> 33cca8559702f71799e17006262b71d7b9b1e590
}

.search {
	width: 400px;
	border-radius: 12px;
	padding: 5px 20px;
	border: none;
}

.search:focus {
	outline: none;
}

.search-btn {
	background-color: #ffffff;
	background: none;
	border: none;
	padding: 5px;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	/* border-radius: 10px; */
}
.readMore {
	text-align: center;
}

.dflex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 5%;
	
}
.trending{
	width: 20%;
	margin-top: 1%;

}
.txt{
	font-family: 'Oswald', sans-serif;
	color: red;
	border-bottom: 2px solid black;
	padding-bottom: 1%;
	margin-bottom: 5%;
}