.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-weight: 400;
    padding: 20px;
    border-bottom: 1px solid #eee;
    background-color: #f7f7f7;
    max-width: 100% !important;
}

.api-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: 400;
    width: 80%;
    margin: 0 auto;
    
}
.h3-heading{
    padding: 5px;
}
.imgs{
    width: 100%;
    margin: 0 auto;
}

.data-news{
    width: 30%;
    border: 1px solid #eee;
    margin: 15px 0;
    border-radius: 20px;
    padding: 5px;
}

.content{
    width: 80%;
    padding: 15px;
    font-size: 18px;
}

.search{
    width: 400px;
    border-radius: 12px;
    padding: 5px 20px;
    border: none;
}

.search:focus{
    outline: none;
}

.search-btn{
    background-color: #ffffff;
    background: none;
    border: none;
    padding: 5px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    /* border-radius: 10px; */
}